.rings-container {
  position: absolute;
  height: 104px;
  width: 104px;
  border-radius: 100%;
  cursor: pointer; }

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1); }
  to {
    opacity: 0;
    transform: scale3d(3, 3, 1); } }
